* {
    background-color: bisque;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
ul {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

h4 {
text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
ol {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    
}